<h2>Home page</h2>
<h3>Tracking location</h3>

<p>


<p>Blah blah</p>

<iframe width="300" height="300" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAW7ad35KvXWH22Ny2VLsx9QdhvSJGphFo&q=12.923047,77.498950"
 allowfullscreen>
</iframe>
 
</p>